beautifulsoup4==4.13.3
decord==0.6.0
ffmpy==0.3.3
imageio_ffmpeg==0.5.1
imutils==0.5.4
nltk==3.8.1
numpy==2.2.3
opencv_python==4.8.1.78
prettytable==3.14.0
python_dateutil==2.8.2
pytz==2023.3.post1
regex==2023.10.3
Requests==2.32.3
rouge==1.0.1
scikit_learn==1.0.2
scipy==1.15.1
selenium==4.28.1
scikit-image
spacy==3.7.5
tiktoken==0.7.0
torch==2.4.0
trafilatura==1.12.2
